/* entete */

.lien {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
}

a {
    color:blue;
    text-decoration: none;
}

/* entete */
/* contenu */

#paragr {
    display:flex;
    margin-top: 50px;
}

.paragr {
    display:flex;
    flex-direction: column;
    background-color: DodgerBlue;
}

#titreparagr {
    font-size: 30px;
    text-indent: 50px;
}

.txtparagr {
    text-align: center;
    font-weight: bold;
}

#txtparagr {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#inserttotal {
    display:flex;
    align-items: center;
    flex-direction: column;
}

.insertgeneral {
    display:flex;

}
.insertgeneral div {
    background-color: #F0FFFF;
    margin: 10px;
    font-size: 15px;

}


.insertpartie {
    display:flex;
    flex-direction: column;

}
#insertsolo {
    display:flex;

}
img {
    border-radius: 8px;
}

.titre {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.texte {
    text-indent: 15px;
    margin: 0;
}
.gras {
    font-weight: bold;
}


/* contenu */
/* bandeau bas */
#cel1 {
     display:flex;
     flex-direction: row;
     font-size: 30px;
}
#bandeaubas {
    display:flex;
    width: 100%;
    align-content: stretch;
    background-color: grey;
    justify-content: space-around
}

.bas {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 13px;
    background-color: grey;

}
/* bandeau bas */