/* entete */

.lien {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;

}

a {
    color:blue;
    text-decoration: none;
}

/* entete */
/* contenu */

.contenu {
    display:flex;
    flex-direction: row;
    background-color: DodgerBlue;
    padding: 5%;
    border-radius: 15px;
    margin-top: 15px;
}

img {
    width: 60%;
    border-radius: 8px;
}

#titrephoto {
    font-size: 20px;
}

.textephoto {
    font-size: 25px;
}

#formulaire {
    background-color: white;
    font-size: 30px;
}
/* formulaire */
#cel-titre {
    width: 100%;
    margin: 0px;
    text-align: center;
    padding :0;
}

#cel-gene-formulaire {
    display: flex;
    width: 600px;
    background-color: white;
    flex-wrap: wrap;
    border-radius: 15px;
    padding: 10px;
}
#cel-ranger-un {
    padding: 0px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center
}

#cel-ranger-un div {
    padding: 0;
    margin: 0;
}

#select {
    font-size: 15px;
    width: 84px;
    box-sizing: border-box;
    border: 2px solid dodgerblue;
    border-radius: 8px;
    padding: 4px;
}
#prenom {
    font-size: 15px;
    width: 125px;
    box-sizing: border-box;
    border: 2px solid dodgerblue;
    border-radius: 8px;
    padding: 4px;
}
#nom {
    font-size: 15px;
    width: 125px;
    box-sizing: border-box;
    border: 2px solid dodgerblue;
    border-radius: 8px;
    padding: 4px;
}
#cel-ranger-deux {
    padding: 0px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center

}
#cel-ranger-deux div {
    padding: 0;
    margin: 0;
}
#email-form {
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid dodgerblue;
    border-radius: 8px;
    padding: 4px;
}
#numero-telephone {
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid dodgerblue;
    border-radius: 8px;
    padding: 4px;

}
.cel-indi-ranger-deux {
    width: 45%;
}
#cel-ranger-menu {
    padding: 0px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center
}

#menu {
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid dodgerblue;
    border-radius: 8px;
    padding: 4px;
}
#cel-ranger-message {
    padding: 0px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center
}
#textarea {
    font-size: 15px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: 2px solid dodgerblue;
    border-radius: 8px;
    padding: 4px;
    resize: none;
}
#cel-news {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    display: flex;
    align-items: center;
}
#newsletter {
    padding-left: 5px;
}
#txtloi {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#cel-button {
    display: flex;
    width: 100%;
    justify-content: center;
}








/* formulaire */
/* contenu */
/* bandeau bas */
#cel1 {
     display:flex;
     flex-direction: row;
     font-size: 30px;
}
#bandeaubas {
    display:flex;
    width: 100%;
    align-content: stretch;
    background-color: grey;
    justify-content: space-around
}

.bas {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 13px;
    background-color: grey;

}
/* bandeau bas */