/* entete */


.lien {
    flex-direction: row;
    display:flex;
    justify-content: space-evenly;
    font-size: 20px;

}

a {
    color:blue;
    text-decoration: none;
}

/* entete */

/* contenu */

#entete-ia-school-gene {
    background-image: url("../Photo-ia-school/montage-categorie-ia-2-scaled.webp");
    width: 100%;
    border-radius: 20px;
    background-size: cover;
}
#entete-ia-school-indiv {
    width: 33%;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
#titre-entete-ia-school {
    font-size: 50px;
    font-family: Noto Sans, sans-serif;
    margin-left: 5%;
}
#sous-titre-entete-ia-school {
    font-size: 25px;
    font-family: Noto Sans, sans-serif;
    margin-left: 5%;
}
#txt-entete-ia-school {
    font-size: 25px;
    font-family: Noto Sans, sans-serif;
    margin-left: 5%;
}
#txt-blue {
    color: blue;
}
.txt-gras {
    font-weight: bold;
}
.img-info {
    width:90%;
    margin-top: 20px;
}
#cel-info-gene {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #ededed;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #d6d6d6;
}
.cel-info-indiv {
    display: flex;
    width: 19%
}
.txt-info {
    font-size: 20px;
    font-family: Trebuchet MS, sans-serif;
}
#titre-nos-forma {
    text-align: center;
    font-family: Noto Sans, sans-serif;
}
#cel-forma-ia-gene {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.cel-forma-ia-indiv {
    display: flex;
    width: 32%;
    border-radius: 20px;
    flex-direction: column;
    background-color: #ededed;
    box-shadow: 10px 5px 5px #d6d6d6;
    border: 1px solid;
    border-color: DodgerBlue;
}
.img-forma-ia {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.txt-forma-ia {
    margin-left: 10px;
    padding-right: 10px;
    font-family: Arial Narrow, sans-serif;
}
.cel-savoir {
    display: flex;
    justify-content: center;
}
.txt-savoir {
    font-size: 18px;
    background-color: red;
    border: 2px solid;
    padding: 5px;
}
#align-cell {
    margin-top: 40px;
}
#txt-bas-nos-forma {
    margin-left: 9%;
    padding-right: 9%;
}
#cel-gene-enjeux {
    width: 100%;
    display: flex;
    background-color: #1c366d;
    flex-direction: column;
    color: white;
    font-family: Noto Sans, sans-serif;
}
#cel-inter-enjeux {
    display: flex;
    width: 100%;
}
.cel-indiv-enjeux {
    width: 50%;
    margin-left: 2%;
    padding-right: 2%;
    margin-top: 5%;
}
#cel-information {
    display: flex;
    justify-content: center;
}
#txt-cel-information {
    font-size: 18px;
    background-color: red;
    border: 2px solid;
    padding: 5px;
}
#cel-gene-les-plus {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.cel-txt-les-enjeux {
    margin-left: 20%;
    margin-right: 20%
}
#txt-les-enjeux {
    text-align: center;
    font-size: 18px;
    font-family: Courier New, monospace;
}
#cel-deposer {
    display: flex;
}
#txt-deposer {
    font-size: 18px;
    background-color: red;
    border: 2px solid;
    padding: 5px;
}
#cel-gene-sofiane {
    display: flex;
    margin-top: 10px;
    background-color: #7a0000;
    color: white;
    width: 100%;
    justify-content: space-evenly;
    border-radius: 20px;
}
.cel-indiv-sofiane {
    width: 35%;
}
#img-sofiane {
    border-radius: 25%;
    width: 50%;
    padding: 20px;
}
#txt-sofiane {
    font-size: 25px;
}
#cel-gene-questions {
    display: flex;
    width: 100%;
}













/* contenu */

/* bandeau bas */
#cel1 {
     display:flex;
     flex-direction: row;
     font-size: 30px;
}
#bandeaubas {
    display:flex;
    width: 100%;
    align-content: stretch;
    background-color: grey;
    justify-content: space-around
}

.bas {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 13px;
    background-color: grey;

}
/* bandeau bas */